.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

### IntelliJ IDEA ###
.idea/modules.xml
.idea/jarRepositories.xml
.idea/compiler.xml
.idea/libraries/
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store

inputDay1
inputDay2
inputDay3
inputDay4
inputDay5
inputDay6
inputDay7
inputDay8
inputDay9
inputDay10
inputDay11
inputDay12
inputDay13
inputDay14
inputDay15
inputDay16
inputDay17
inputDay18
inputDay19
inputDay20
inputDay21
inputDay22
inputDay23
inputDay24
inputDay25